{% extends 'base.html' %}
{% block content %}

<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'account' %}"><i class="im im-angle-left"></i><</a>
            {% if page == 'create' %}
            <h1>Add Skill</h1>
            {% endif %}
            {% if page == 'update' %}
            <h1>Update Skill</h1>
            {% endif %}

            <form class="form" method="POST" action="">
                {% csrf_token %}
                {% for field in form %}

                    <div class="form__field">
                        <label for="formInput#text">{{field.label}}: </label>
                        <!-- <input class="input input--text" id="formInput#text" type="text" name="text"
                            placeholder="Enter text" /> -->
                        {{field}}
                    </div>

                {% endfor %}
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>

{% endblock %}