{% extends 'base.html' %}

{% block content %}


<main class="formPage my-xl">
    <div class="content-box">
        <div class="formWrapper">

            <h3>Are you sure you want to delete "{{obj}}"?</h>

            <form class="form" method="POST" action="">
                {% csrf_token %}
                <a href="{{request.META.HTTP_REFERER}}">Cancel</a>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
            </form>

        </div>
    </div>
</main>

{% endblock %}